body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1; 
  z-index: -1;  
}

.app {
  min-height: 100vh;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  z-index: 1; 
}

.calculator {
  background: #00185c;
  padding: 20px;
  border-radius: 12px;
  width: 320px;

  margin-top: 60px;
  margin-bottom: 60px;

}

.display {
  position: relative;
  margin-bottom: 10px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px 40px 10px 10px; 
  border-radius: 5px;
  border: none;
  background: #111;
  color: #fff;
  box-sizing: border-box;
}

#erase {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #888;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

#erase:hover {
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.btn {
  padding: 15px;
  font-size: 30px;
  border: none;
  border-radius: 100px;
  background: #444;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
.btn:hover {
  background: #666;
}

.operator {
  padding: 15px;
  font-size: 30px;
  border: none;
  border-radius: 100px;
  background: #298001;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
.operator:hover {
  background: #5bd935;
}

#clear {
  background-color: #a10000;
}
#clear:hover {
  background-color: #ff4747;
}

#toggle-history {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #555;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

#toggle-history:hover {
  background: #777;
}

.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}


